*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    background-color: #0073ff;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-bottom: 0 solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: darkorange;
    min-height: 60vh;
    padding: 50px;
}
.product-container{
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    width: 41%;
    display: -ms-inline-grid;
}
.product-image{
    height: 300px;
    width: 90%;
    background-position: center;
    background-size: cover;

}
